{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-0">

      <div class="row mt-4">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Location</p>
                    <h5 class="font-weight-bolder">Sengkang</h5>
                    <span class="text-sm font-weight-bolder">Blk 405C, #16-103</span>
                    <!--span class="text-sm">more</span-->
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Module Stand ID</p>
                    <h5 class="font-weight-bolder">6</h5>
                    <span class="text-success text-sm font-weight-bolder">Raspberry Online</span>
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                    <i class="ni ni-collection text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Datetime From</p>
                    <h5 class="font-weight-bolder">5 Dec 2022</h5>
                    <span class="text-sm font-weight-bolder">12:00 PM</span>
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                    <i class="ni ni-calendar-grid-58 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Datetime To</p>
                    <h5 class="font-weight-bolder">6 Dec 2022</h5>
                    <span class="text-sm font-weight-bolder">12:00 PM</span>
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                    <i class="ni ni-calendar-grid-58 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-5">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Sensor Layout</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
            </div>
          </div>
        </div>
        
        <div class="col-lg-7">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Smoke Sensors</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs text-center font-weight-bolder opacity-7">Sensor id</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Room</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ip address</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1 justify-content-center">
                          <!--div>
                            <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                          </div-->
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 me-5 text-sm">1</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Kitchen</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">192.168.1.101</span>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1 justify-content-center">
                          <div class="d-flex flex-column">
                            <h6 class="mb-0 me-5 text-sm">2</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Living room</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">192.168.1.102</span>
                      </td>
                      <td class="align-middle">
                        <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1 justify-content-center">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 me-5 text-sm">3</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Bedroom 1</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">192.168.1.103</span>
                      </td>
                      <td class="align-middle">
                        <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1 justify-content-center">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 me-5 text-sm">4</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Bedroom 2</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">192.168.1.104</span>
                      </td>
                      <td class="align-middle">
                        <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1 justify-content-center">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 me-5 text-sm">5</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Bedroom 3</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">192.168.1.105</span>
                      </td>
                      <td class="align-middle">
                        <a href="#!" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-13">
          <div class="card">
            <div class="card-header pb-0">
              <h6>Sensor Reading by Room</h6>
              <!--p class="text-sm">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">4% more</span> in 2021
              </p-->
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300px" data-url="{% url 'line-graph' %}"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>
    

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script src="/static/assets/js/plugins/Chart.extension.js"></script>
  <script>
    var ctx = document.getElementById("chart-line").getContext("2d");
    var gradientStroke1 = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(33,148,254,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    $(function() {
      var $lineGraph = $("#chart-line");

      $.ajax({
        url: $lineGraph.data("url"),
        success: function(response) {
          new Chart(ctx, config = {
            type: "line",
            data: {
              datasets: [{
                  data: response.data,
                  backgroundColor: gradientStroke1,
                  label: "Smoke value",
                  tension: 0.4,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#2194fe",
                  borderWidth: 3,
                  maxBarThickness: 6,
                },
                /*{
                  label: "Websites",
                  tension: 0.4,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#3A416F",
                  borderWidth: 3,
                  backgroundColor: gradientStroke2,
                  data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
                  maxBarThickness: 6

                },*/
              ],
              labels: response.labels,
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                display: false,
              },
              tooltips: {
                enabled: true,
                mode: "index",
                intersect: false,
              },
              scales: {
                yAxes: [{
                  gridLines: {
                    borderDash: [2],
                    borderDashOffset: [2],
                    color: '#dee2e6',
                    zeroLineColor: '#dee2e6',
                    zeroLineWidth: 1,
                    zeroLineBorderDash: [2],
                    drawBorder: false,
                  },
                  ticks: {
                    suggestedMin: 0,
                    suggestedMax: 100,
                    beginAtZero: true,
                    padding: 10,
                    fontSize: 11,
                    fontColor: '#adb5bd',
                    lineHeight: 3,
                    fontStyle: 'normal',
                    fontFamily: "Open Sans",
                  },
                }, ],
                xAxes: [{
                  gridLines: {
                    zeroLineColor: 'rgba(0,0,0,0)',
                    display: false,
                  },
                  ticks: {
                    padding: 10,
                    fontSize: 11,
                    fontColor: '#adb5bd',
                    lineHeight: 3,
                    fontStyle: 'normal',
                    fontFamily: "Open Sans",
                  },
                }, ],
              },
            },
          });
        }
      });

    });
    
    
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
